SIGHTENGINE_API_USER="your sightengine api user"
SIGHTENGINE_API_SECRET="your sightengine api secret"
TAVILY_API_KEY="your tavily api key"
XAI_API_KEY="your xai api key"
LLM_API_KEY="your llm api key"